.background {
    -fx-background-color: #333333;
}
.text-input {
    -fx-prompt-text-fill: #707070 ;
}

.dialog-pane {
    -fx-background-color: #333333;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #333333;
}

.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: #039ed3;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: #039ed3;
}

.choice-box {
    -fx-background-color: #96a4a4;
}
.choice-box .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
}

.label, .check-box {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.label-filter {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #d8d8d8;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #333333;
    -fx-control-inner-background: #333333;
    -fx-background-color: #333333;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 13;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-weight: normal;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #039ed3;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:vertical   > .split-pane-divider{
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-background-color: #96a4a4;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}

.text-field:focused {
    -fx-border-radius: 4, 4;
    -fx-border-color: #039ed3;
    -fx-font-size: 10pt;
    -fx-background-color: #96a4a4;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}

.text-area *.content {
    -fx-font-size: 20pt;
    -fx-background-color: #96a4a4;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}

.text-area {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}
/* The main scrollbar CSS class of ListView */
    .text-area .scroll-bar:horizontal,
    .text-area .scroll-bar:vertical {
    -fx-background-color: #039ed3;
}

/* The increment and decrement button CSS class of scrollbar */
.text-area .increment-button ,.text-area .decrement-button {
    -fx-background-color: #039ed3;
}

/* The main scrollbar **track** CSS class  */
.text-area .scroll-bar:horizontal .track,
.text-area .scroll-bar:vertical .track{
	-fx-background-color: #6e6e6e;
	-fx-border-color: #6e6e6e;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
	-fx-background-insets: 2, 0, 0;
}

.prompt-text {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(#333333, +20%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-color: #333333 #333333 #333333 #333333;
    -fx-background-color: #333333;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #333333;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #3a3a3a;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 * with some changes by Konstantin Garkusha
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #039ed3;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #333333;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}